.section-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1em 1em;
}

a{
    font-size: 2em;
    text-decoration: none;
    color: var(--toolbar-color);
    padding-inline: 0.25em;
}

span{
    color: var(--toolbar-color);
}