nav{
    display: flex;
    background-color: var(--toolbar-text-color);
    box-shadow: var(--toolbar-text-color) 0em 0em 0.5em 0em;
}

.logo{
    padding: 1em;
    cursor: pointer;
}

img:focus {
    outline: 0;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.menu-item{
    padding: 0.25em 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--toolbar-color);
    border: 1px dashed var(--toolbar-color);
    border-radius: 5px;
    margin: 0px 0.5em;
}

