nav{
    display: flex;
    background-color: var(--toolbar-color);
    border-bottom: 1px solid grey;
}

.logo{
    padding: 1em;
    cursor: pointer;
}

img:focus {
    outline: 0;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.menu-item{
    padding: 0.25em 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--toolbar-text-color);
    border-radius: 5px;
    margin: 0px 0.5em;
}

.cv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        padding-right: 0.5em;
    }
}

.fa.fa-bars{
    color: var(--toolbar-text-color);
}

.menu-btn {
    display: none;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 1024px) {
    .logo{
        border-bottom: 1px solid var(--toolbar-text-color);
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .menu-item{
        display: none;
    }

    nav{
        display: block;
    }

    .menu-item.open{
        display: block;
        border: none;
        text-align: center;
        background-color: var(--toolbar-color);
        border-bottom: 1px solid var(--toolbar-text-color);
        color: var(--color);
        margin: 0em;
        border-radius: 0em;
        img{
            max-width: 20px;
        }
    }

    .menu-btn{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid var(--toolbar-text-color);
    }
    
    .menu{
        display: block;
        margin: 0;
    }

    .flag{
        height: 0.75em;
    }
}