nav{
    display: flex;
    background-color: var(--toolbar-color);
    border-bottom: 1px solid grey;
}

.logo{
    padding: 1em;
    cursor: pointer;
}

img:focus {
    outline: 0;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.menu-item{
    padding: 0.25em 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--toolbar-text-color);
    border: 1px dashed var(--toolbar-text-color);
    border-radius: 5px;
    margin: 0px 0.5em;
}

.menu-item:first-child{
    padding: 0.45em 1em;
}

.fa.fa-bars{
    color: var(--toolbar-text-color);
}

@media only screen and (max-width: 823px) and (min-width: 668px) {
    .menu-item{
        font-size: 1em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 667px) {
    .menu-item{
        display: none;
    }

    nav{
        display: block;
    }

    .menu-item.open{
        display: block;
        border: none;
        text-align: center;
        background-color: var(--toolbar-text-color);
        border-bottom: 1px solid var(--card-background);
        color: var(--card-background);
        margin: 0em;
        border-radius: 0em;
    }

    .menu-btn{
        float: right;
        display: block;
        background-color: transparent;
        border: 2px solid var(--toolbar-text-color);
        border-radius: 5px;
        margin-right: 1em;
        margin-top: 1.5em;
    }
    
    .menu{
        display: block;
        margin: 0;
    }

    .flag{
        height: 0.75em;
    }
}