<nav  [class.open]="isOpen">
  <div class="logo">
      <ng-container *ngIf="theme === 'DARK' else logo">
          <img
            src="/assets/images/logo.png"
            alt="André Alexandre Fermento Lourenço logo"
            width="64px"
            height="64px"
            routerLink="/home"
          />
      </ng-container>
      <ng-template #logo>
          <img
            src="/assets/images/logo-white.png"
            alt="André Alexandre Fermento Lourenço logo"
            width="64px" 
            height="64px"
            routerLink="/home"
          />
      </ng-template>
      <button class="menu-btn" (click)="isOpen = !isOpen">
        <i class="fa fa-bars"></i>
      </button>
  </div>
  <ul class="menu">
    <li class="menu-item" [class.open]="isOpen" (click)="goTo('certificates')">
      <span class="text">{{ "navbar.certificates" | translate }}</span>
    </li>
    <li class="menu-item" [class.open]="isOpen" (click)="goTo('clients')">
      <span class="text">{{ "navbar.clients" | translate }}</span>
    </li>
    <li class="menu-item" [class.open]="isOpen" (click)="goTo('projects')">
      <span class="text">{{ "navbar.projects" | translate }}</span>
    </li>
    <li class="menu-item" [class.open]="isOpen" (click)="goTo('contact')">
      <span class="text">{{ "navbar.contact" | translate }}</span>
    </li>
    <li class="menu-item cv" [class.open]="isOpen" (click)="open()">
      <div>
        <img src="/assets/images/file-pdf-regular.svg" alt="pdf icon">
      </div>
      <span class="text">CV</span>
    </li>
    <li class="menu-item" [class.open]="isOpen" (click)="useLanguage()">
      <span class="text">{{ "navbar.language" | translate }}</span>
    </li>
    <li class="menu-item" [class.open]="isOpen" (click)="toggleTheme()">
      <span>🌗</span>
    </li>
  </ul>
</nav>
<nav>