
.intro{
    padding-bottom: 2em;
    font-size: larger;
    font-weight: bold;
}

.tecs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center {
    text-align: center;
    flex: 1 1 52px;
    padding-bottom: 1em;
}