<section class="color-set">
    <div class="container">
        <p class="intro">{{'personalProjects.intro' | translate}}</p>
        <div class="projects">
            <div class="single-project" *ngFor="let project of projects">
                <div class="project-header">
                    <a [href]="project.link" target="_blank" class="fa fa-folder-open"></a>
                    <p class="project-name">{{project.name}}</p>
                </div>
                <p class="project-description">{{project.description}}</p>
                <a [href]="project.git" target="_blank">
                    <img [src]="project.img" alt="sample of the project">
                </a>
                <div class="git-icon" *ngIf="project.git">
                    <a [href]="project.git" target="_blank" class="fa fa-github"></a>
                </div>
            </div>
        </div>
    </div>
</section>
