.form-label {
    color: var(--card-background);
    font-size: 1.3em;
}

.container {
    display: flex;
    align-items: center;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 1px solid lightgray;
    padding: 1em 1em;
    border-radius: 5px;
}

.form-input{
    border-radius: 5px;
    font-size: 1.3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
    width: 98%;
}

.form-line{
    width: 16.35vw;
}

.btn-submit {
    font-size: 1.3em;
    cursor: pointer;
}

.btn-div{
    display: flex;
    justify-content: flex-end;
}

.cursor-block{
    cursor: no-drop;
}

.red{
    color:red;
}