section {
    padding-top: 1em;
    padding-bottom: 3em;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 1em;
}

span {
    color: var(--color);
}


.single-project{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1em;
}

.intro{
    padding-bottom: 1em;
    font-size: larger;
    font-weight: bold;
}

.project-header{
    display: flex;
    justify-content: space-between;
}

.fa-github {
    font-size: 2em;
    text-decoration: none;
    color: var(--toolbar-text-color);
    padding-inline: 0.25em;
}

.fa-folder-open {
    font-size: xxx-large;
    color: var(--color);
    text-decoration: none;
}

.git-icon {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 10em;
    padding-block: 1em;
}

.project-name{
    font-size: larger;    
    font-weight: bold;
}

.project-description{
    height:7em;
}

.m-0{
    margin: 0;
}

.p-0{
    padding:0;
}