<section class="color-set">
    <div class="container">
        <p class="main scale-in-center main-about">{{ 'home.about' | translate }}</p>
        <p class="main scale-in-center main-name">{{ 'home.name' | translate }}</p>
        <div class="img">
            <img class="photo scale-in-center" src="../../assets/images/facefoto.jpg" alt="André Lourenço photo" width="150px">
        </div>
        <p class="main scale-in-center main-description">{{ 'home.description' | translate }}</p>
        <div class="buttons scale-in-center">
            <p class="details scale-in-center">{{ 'home.detailDescriptionBeforeYear' | translate }}<strong class="aafl-green">{{years}}</strong>{{ 'home.detailDescriptionAfterYear' | translate }}</p>
        </div>
    </div>
</section>