<aafl-navbar (navigate)="scrollTo($event)"></aafl-navbar>
<aafl-about id="about"></aafl-about>
<div class="color-set">
    <img class="splitter" src="/assets/images/splitter-left.svg" alt="splitter image">
</div>
<aafl-certificates id="certificates"></aafl-certificates>
<div class="color-set">
    <img class="splitter right" src="/assets/images/splitter-right.svg" alt="splitter image">
</div>
<aafl-clients id="clients"></aafl-clients>
<div class="color-set">
    <img class="splitter" src="/assets/images/splitter-left.svg" alt="splitter image">
</div>
<aafl-projects id="projects"></aafl-projects>
<div class="color-set">
    <img class="splitter right" src="/assets/images/splitter-right.svg" alt="splitter image">
</div>
<aafl-contact id="contact"></aafl-contact>