.form-label {
    color: var(--toolbar-text-color);
    font-size: 1.3em;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    padding: 1em 1em;
    border-radius: 5px;
}

.form-input{
    border-radius: 5px;
    font-size: 1.3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
    width:100%;
    margin-top: 0.5em;
}

.btn-submit {
    font-size: 1.3em;
    background-color: var(--toolbar-text-color);
    color: var(--toolbar-color);
    cursor: pointer;
}

.btn-div{
    display: flex;
    justify-content: flex-end;
}

.cursor-block{
    cursor: no-drop;
}

.pb-2{
    padding-bottom: 2em;
}

.intro{
    padding-bottom: 2em;
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

.red{
    color: red;
}